[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jellyfish = "*"
nltk = "*"
lyricsgenius = {editable = true, ref = "master", git = "https://github.com/johnwmillr/LyricsGenius.git"}
numpy = "*"

[dev-packages]

[requires]
python_version = "3.6"
